div.Board {
   
    margin: 1rem .5rem 2rem .5rem;
    padding: 1rem;
    height: 60vh;
    width: 80%;
    border-radius: 8px;
    overflow: auto;
    white-space: nowrap;
}

div.board-data {
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}


.cell {

    height: 60px;
    line-height: 60px;
    text-align: center;
    min-width: 60px;
    border: 1px solid gray; 

}

.hide {
    display: none;
}

div.Project-title-column {
    min-width: 120px;
    box-shadow: inset 0 -1px 8px 5px rgba(31, 23, 64, .4);
    position: sticky;
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 60px;
    background-color: rgba(41, 206, 235, 1);;
    overflow: auto;
}

/* style={
    textAlign: 'center',
    backgroundColor: 'lightblue'}} */