nav.Navbar {
    transition: ease-in .3s;
    height: 100vh;
    width: 15vw;
    background-color: rgba(41, 206, 235, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav.Navbar.close {
    transition: ease-in .3s;
    width: 5vw;
}

.Navbar-link {
    text-decoration: none;
    color: rgba(31, 23, 64, 1);
    
}

div.Navbar-link-item {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-bottom: 1px solid lightblue;
}
div.Navbar-link-item-logout {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-top: 1px solid lightblue;
}


.Navbar-link-item:hover, .Navbar-link-item-logout:hover {
    background-color: lightblue;
}

div.nav-icon {
    transition: ease-in-out .3s;
    height: 80%;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/icon-project.svg);
}

span.nav-text.open {
    transition: ease-in 3s;
    color: rgba(31, 25, 68, 1);
    background: none;
    width: 100%;
    transition: ease-out .3s;
}

span.nav-text {
    transition: ease-in-out .3s;
    height: 80%;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/icon-project.svg);
    color: rgba(255, 255, 255, 0);
    
}