nav.Navbar {
    transition: ease-in .3s;
    height: 100vh;
    width: 15vw;
    background-color: rgba(41, 206, 235, 1);
}

nav.Navbar.close {
    transition: ease-in .3s;
    width: 5vw;
}

.Navbar-link {
    text-decoration: none;
    color: rgba(31, 23, 64, 1);
    
}

.Navbar-link-item {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-bottom: 1px solid lightblue;
}

.Navbar-link-item:hover {
    background-color: lightblue;
}