div.DeleteButton {

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 .3rem 0 .3rem;
    border: none;
    background-color: rgb(244, 67, 54);
    border-radius: 5px;   
    cursor: pointer;
}

div.delete-image {
    background-image: url('../images/icon-delete.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}