button.DeleteButton {
    height: 1.2rem;
    min-width: 1.2rem;
    margin: 0 .3rem 0 .3rem;
    border: none;
    background-color: rgb(244, 67, 54);
    border-radius: 5px;   
    color: white;
    cursor: pointer;
}