div.Expand {
    width: 100%;
    display: flex;
    justify-content: center;  
}

div.Expand-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;
    width: 1.5rem;
    padding: .5rem 0 .5rem 0;
    cursor: pointer;
}

div.e-line {
    transition: ease-in .3s;
    height: .2rem;
    width: 1rem;
    border-radius: 3px;
    background-color: white;
}

div#e-line-1 {
    transition: ease-in .3s;
    transform: translateY(1rem); 
}

div#e-line-2  {
    transition: ease-in-out .3s;
    transform: rotate(90deg);
}

div#e-line-1.close {
    transition: ease-in .3s;
    background-color: rgba(0, 0, 0, 0)
}

div#e-line-2.close  {
    transition: ease-in-out .3s;
    transform: translateX(0rem); 
}