div.Expand {
    /* width: 100%; */
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;  
}

div.Expand-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;
    width: 1.5rem;
    padding: .5rem 0 .5rem 0;
    cursor: pointer;
}

div.e-line {
    transition: ease-in .3s;
    height: .2rem;
    width: .8rem;
    border-radius: 3px;
    background-color:  rgb(35, 108, 198);
}

div#e-line-1 {
    transition: ease-in .3s;
    transform: translateY(.55rem) rotate(90deg); 
}

div#e-line-2  {
    transition: ease-in-out .3s;
    transform: translateY(-.45rem);
}

div#e-line-1.close {
    transition: ease-in .3s;
    transform: translateY(.6rem); 
}

div#e-line-2.close  {
    transition: ease-in-out .3s;
    background-color: rgba(0, 0, 0, 0);
   
}