.block-wrapper-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
    margin: .5rem 0 .5rem 0;
    padding: 0 .5rem .5rem .5rem;
    border: 1px solid gray;
    border-radius: 8px;
}

div.block-task-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

div.block-wrapper-grid-text{
    width: 100%;
    overflow-x: scroll;
}

div.block-wrapper-grid-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
}


div.time-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


div.add-icon {
    margin-bottom: 1rem;
    
    background-size: contain;
    background-image: url('../../images/add-circle-icon.svg');

    cursor: pointer;
}
